.logo{
    height: 75px;
    margin: auto;
    margin-top:5px;
    border: 1px black solid;
}
body{
    display: grid;
    text-align: center;
        grid-template-columns: 1fr 5fr;
}
header{
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
.drake{
    background-image: url("img/dragon_side.png");
    border: 1px black solid;
    grid-row: 2/5;
}
nav a{
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}
nav{
    height: 100px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 10px;
}
main{
    grid-column: 2/3;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main img{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
}
.borderjagorkarinte{
    border: 1px black solid;
}
footer{
    color: white;
    background-color: black;
    margin-top: 5px;
    height: 100px;
    padding-top: 10px;
}
